@use "../abstracts" as ab;

footer {
	background-color: ab.$dark1;
	color: ab.$white;
	padding-inline: clamp(0.5em, 1vw, 1.3em);

	.footer {
		padding-block: 3em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;

		@include ab.screen-80 {
			grid-template-columns: 40% 60%;
		}

		&-item {
			display: flex;
			flex-direction: column;
			gap: 1.3em;

			// email and phone number
			.contacts {
				display: flex;
				flex-wrap: wrap;
				gap: clamp(1em, 5.5vw, 3em);

				@include ab.screen-48 {
					gap: 2.6em; //
				}

				.items {
					a {
						font-size: clamp(0.8rem, 1.9vw, 1rem);
						color: ab.$white;
						text-decoration: underline transparent;
						display: block;
						word-break: break-all;

						&:hover {
							text-decoration-color: ab.$white;
						}
					}
				}
			}

			.social {
				margin-top: 1em;
				display: flex;
				gap: 1.2em;

				svg {
					color: ab.$dark1;
				}
			}

			// useful links, library, youtube
			&:nth-child(2) {
				display: grid;
				gap: 1em;
				grid-template-columns: repeat(
					auto-fit,
					minmax(min(50%, 12.33em), 1fr)
				);
				justify-items: center;
			}

			.link-group {
				display: grid;
				gap: 1em;
				width: min(100%, 20rem);

				a {
					color: ab.$white;
					text-decoration: underline transparent;

					&:hover {
						text-decoration-color: ab.$white;
					}
				}
			}

			// useful link
			&__container {
				.links {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 0.4em;
					width: min(100%, 25em);

					a {
						font-size: clamp(0.8rem, 1.65vw, 1rem);
					}
				}
			}

			.youtube-container {
				width: min(100%, 20rem);

				p {
					font-size: 0.8rem;
				}
				.videos {
					width: 100%;
					display: grid;
					gap: 1em;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;

					&-item {
						border-radius: 0.6em;
						height: clamp(5em, 7vw, 8em);
						width: 100%;

						&:nth-child(1) {
							margin-inline: 0;
							grid-column: 1 / 3;
							width: 100%;
						}
					}
				}
			}

			&__head {
				font-size: clamp(1.1rem, 4vw, 1.7rem);
				margin-block: 0 0.3em;
				font-weight: 600;
			}

			&__text {
				font-size: clamp(0.8rem, 1.9vw, 1rem);
				width: min(100%, 15rem);
			}
		}
	}

	.copyright {
		text-align: center;
		font-size: 0.8rem;
		padding-block: 0.6em;
	}
}
