@use "../abstracts" as ab;

.info {
	background-color: ab.$blue3;
	margin-block: 3em;
	color: ab.$blue1;
	padding: 2em 1em 3em;

	&-head {
		font-weight: 700;
		font-size: clamp(1.3rem, 6vw, 1.8rem);
		position: relative;
		display: inline-block;

		&::before {
			content: "";
			position: absolute;
			height: 0.1em;
			background-color: ab.$blue1;
			left: 0;
			right: 60%;
			bottom: -0.1em;
		}
	}

	&-text {
		text-align: justify;
		margin-block: 1.5em 2.5em;

		width: min(100%, 100rem);
		font-size: clamp(1rem, 2vw, 1.2rem);
	}

	&-items {
		&__child {
			border-radius: 0.6em;
			background-color: ab.$red;
			overflow: hidden;
			color: white;

			display: grid;
			grid-template-rows: subgrid;
			grid-row: span 4;
			gap: 0;

			&-container {
				&:nth-child(2) {
					padding: 1em 1.5em 2em;
					display: grid;
					grid-template-rows: subgrid;
					grid-row: span 3;
					gap: 0;
				}

				h3 {
					font-size: 1.3rem;
				}

				p {
					font-size: 0.9rem;
				}

				a {
					color: white;
					font-weight: 600;
					margin-block-start: 1em;
				}
			}
		}
	}
}
