@use "../abstracts" as ab;

.contact-nav {
	background-color: ab.$blue2;
	color: white;
	padding-block: 0.6em;

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> div {
			display: flex;
			gap: 1em;
			align-items: center;

			@include ab.screen-64 {
				gap: 1.3em;
			}
		}

		&-functions {
			display: flex;
			gap: 1em;
			align-items: center;

			&-item {
				a {
					color: white;
					font-size: 1.1rem;
					font-weight: 500;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

nav {
	background-color: white;
	padding-block: 0.8em;

	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;

	transition: translate 300ms;

	&.hide {
		translate: 0 -100%;
	}

	.nav {
		// outline: 2px solid red;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-logo {
			img {
				width: clamp(12em, 30vw, 18em);
			}
		}

		&-items {
			input {
				display: none;

				&:checked {
					+ label {
						span:nth-child(even) {
							visibility: hidden;
						}

						span:nth-child(1) {
							rotate: 45deg;
							translate: 0 0.5em;
						}
						span:nth-child(3) {
							rotate: -45deg;
							translate: 0 -0.5em;
						}
					}

					~ .nav-items__elements {
						clip-path: inset(0);
					}
				}
			}

			label {
				z-index: 3;
				display: grid;
				gap: 0.3em;
				position: relative;

				@include ab.screen-48 {
					display: none;
				}

				span {
					width: 1.8em;
					height: 0.2em;

					display: block;
					background-color: ab.$blue2;

					transition: rotate 200ms, translate 200ms, visibility 50ms;
				}
			}

			&__elements {
				background-color: white;
				list-style: none;

				padding-inline: 0;
				padding-block: 6em;

				display: flex;
				gap: 1em;
				flex-direction: column;
				position: fixed;

				top: -1em;
				bottom: -1em;
				left: 0;
				right: 0;

				clip-path: inset(0 0 0 100vw);
				z-index: 2;

				transition: clip-path 300ms;

				@include ab.screen-48 {
					display: flex;
					flex-direction: row;
					position: static;

					padding: 0;
					clip-path: none;

					align-items: center;
					gap: clamp(1em, 2vw, 1.5em);
				}

				&-child {
					text-align: center;
					cursor: pointer;
					color: ab.$blue1;
					font-size: 1.3rem;

					&:hover {
						text-decoration: underline;
					}

					@include ab.screen-48 {
						font-size: clamp(0.85rem, 1.7vw, 1.2rem);
					}

					a {
						text-decoration: none;
						color: ab.$blue1;
					}

					&.hover {
						position: relative;

						&:hover .dropdown {
							@include ab.screen-48 {
								display: grid;
							}
						}
					}
				}

				&-logo {
					@include ab.screen-48 {
						display: none;
					}

					margin-top: auto;

					display: flex;
					align-items: center;
					justify-content: center;

					img {
						width: 15em;
					}
				}
			}
		}
	}
}

.dropdown {
	display: none;
	position: absolute;
	width: clamp(15rem, 40vw, 25rem);

	left: 50%;
	translate: -50%;
	background-color: ab.$grey1;
	backdrop-filter: blur(0.1em);
	border-radius: 0.5em;
	padding-block: 1em;
	gap: 1em;
}
