@use "../../abstracts" as ab;

.about-us__list {
	width: min(96%, 100rem);
	margin-inline: auto;
	margin-block: 5em;
	color: ab.$blue2;
	display: grid;
	gap: 5em;

	&-item {
		text-align: center;

		.item-heading {
			font-size: clamp(1.8rem, 1.9vw, 2.1875rem);
			display: inline-block;
			margin-inline: auto;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 20%;
				right: 20%;

				height: 0.15rem;
				background-color: ab.$blue2;

				bottom: -0.3em;
			}
		}

		&:nth-child(even) {
			.item-content {
				@include ab.screen-48 {
					flex-direction: row-reverse;
				}
			}
		}

		.item-content {
			margin-block-start: 2.5em;

			display: flex;
			flex-direction: column-reverse;
			gap: 1em;

			@include ab.screen-48 {
				flex-direction: row;
				align-items: center;
			}

			@include ab.screen-56 {
				gap: 3em;
			}

			&__text {
				font-size: clamp(0.9rem, 1.1vw, 1.25rem);

				@include ab.screen-48 {
					text-align: justify;
					flex: 1;
				}
			}

			&__image {
				@include ab.screen-48 {
					flex: 1;
				}
				img {
					border-radius: 0.75rem;

					width: min(100%, 35rem);
					margin-inline: auto;
				}
			}
		}
	}
}
