@use "/src/styles/abstracts" as ab;

.container {
	--_gap: 1rem;

	margin-block: 5rem;

	display: grid;
	gap: var(--_gap);

	> div {
		--_count: 1;

		column-count: var(--_count);
		column-gap: var(--_gap);

		@include ab.screen-40 {
			--_count: 2;
		}

		@include ab.screen-64 {
			--_count: 3;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: cover;

			margin-block-end: var(--_gap);
			border-radius: 0.5rem;
		}
	}
}
