@use "/src/styles/abstracts" as ab;

.loader {
	display: grid;
	height: 60vb;
	background-color: ab.$blue3;
	margin-block: 1em 2em;

	place-items: center;
	color: ab.$dark1;

	p {
		font-size: 1.5rem;
		font-weight: 600;
	}
}

.blog {
	padding-block: 3em;

	display: grid;
	gap: 2em;
	color: black;

	.breadcrumb {
		text-align: center;

		display: flex;
		gap: 0.5em;
		justify-content: center;
		align-items: center;

		a {
			text-decoration: none;
			color: ab.$dark1;
		}

		svg {
			color: ab.$text1;
		}

		.home {
			color: ab.$blue5;
		}
	}

	.content {
		font-size: 1rem;
	}

	.main {
		margin-block-end: 2em;

		h1 {
			font-size: clamp(1.25rem, 1.75vi, 1.5rem);
			text-align: center;

			width: 90%;
			margin-inline: auto;
		}

		.meta {
			margin-block: 1em 3em;

			text-align: center;
			display: flex;
			gap: 1em;
			font-size: 0.9rem;
			justify-content: center;

			.author {
				color: ab.$blue2;
				font-weight: 500;
			}

			.date {
				color: ab.$text1;
			}
		}

		.image {
			max-height: 32em;
			margin-block-end: 3em;

			img {
				max-height: 32em;
				object-fit: cover;
			}
		}
	}
}
