@use "./abstracts" as ab;
@use "./components";

body {
	font-family: "Inter", sans-serif;
	color: white;
}

.icon {
	width: clamp(1.2em, 6vw, 2rem);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		color: ab.$blue2;
		font-size: clamp(0.9rem, 3vw, 1.2rem);
	}

	&-text {
		display: none;
		color: white;
		text-decoration-color: transparent;
		font-size: 0.9rem;

		&:hover {
			text-decoration-color: white;
		}

		@include ab.screen-50 {
			display: block;
		}
	}
}

.container {
	width: min(96%, 120rem);
	margin-inline: auto;
}
