@use "./abstracts" as ab;
@use "./components";
@use "./pages";

body {
	font-family: "Inter", sans-serif;
	color: ab.$white;
	scroll-behavior: smooth;
	background-color: ab.$white;
	color: black;
}

.container {
	width: min(96%, 120rem);
	margin-inline: auto;
}
