@use "../../abstracts" as ab;

.change-password-container {
	display: grid;
	gap: 1.6em;

	form {
		display: grid;
		gap: 1em;

		div {
			display: flex;
			gap: 0.8em;
			flex-wrap: wrap;
			align-items: center;

			&:last-child {
				justify-content: flex-end;
			}

			input {
				width: min(100%, 14.5rem);
			}

			button {
				background-color: transparent;
				border: 0;
				cursor: pointer;

				&:disabled {
					cursor: not-allowed;
				}

				&[type="submit"] {
					background-color: ab.$blue2;
					color: ab.$white;
					border-radius: 0.3rem;
					padding: 0.3em 1em;

					transition: background-color 300ms;
					border: 0.1em solid ab.$blue2;

					&:hover {
						background-color: lighten(
							$color: ab.$blue2,
							$amount: 10
						);
					}

					&:disabled {
						background-color: ab.$white;
					}
				}

				&[type="reset"] {
					color: ab.$blue1;
					text-decoration: underline transparent;

					transition: text-decoration-color 300ms;

					&:hover {
						text-decoration-color: ab.$blue1;
					}
				}
			}
		}
	}
}
