@use "../../abstracts" as ab;

.forgot-password {
	border: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 0.75em;
	width: min(95%, 50ch);
	color: ab.$blue1;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.349);
	}

	&-item {
		position: relative;

		.close {
			position: absolute;
			cursor: pointer;
			right: -0.5em;
			bottom: calc(100% - 0.5em);

			background-color: transparent;
			border: none;

			svg {
				color: ab.$blue1;
				font-size: 1.5rem;
			}
		}

		h2 {
			margin-block: 0.5em;
			color: ab.$blue1;
		}

		form {
			display: grid;
			gap: 1em;
			padding-inline: 0.5em;
			margin-block: 1em 0;

			div {
				label {
					font-weight: 500;
					display: block;
					font-size: 1.1rem;
				}

				input {
					margin-block: 0.7em;
					width: min(100%, 30ch);
					padding-inline: 0.2em;
				}

				&:last-child {
					// text-align: center;

					button {
						color: ab.$white;
						border: 0.1em solid ab.$blue1;
						background-color: ab.$blue1;
						padding: 0.2em 1.4em;
						border-radius: 0.5rem;

						font-size: 1.1rem;

						cursor: pointer;
						transition: color 300ms, background-color 300ms;

						&:hover {
							color: ab.$blue1;
							background-color: ab.$white;
						}

						&:disabled {
							background-color: ab.$white;
							cursor: wait;
						}
					}
				}
			}
		}
	}
}
