@use "../../abstracts" as ab;

.login {
	width: 100%;
	min-height: 100vmax;
	padding-block-start: clamp(13.8rem, 40vw, 20rem);
	color: ab.$blue1;

	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.4)
		),
		linear-gradient(
			to bottom,
			rgba(16, 121, 170, 0.1),
			rgba(16, 121, 170, 0.2),
			rgba(16, 121, 170, 0.4),
			rgba(16, 121, 170, 0.6),
			rgba(16, 121, 170, 0.8),
			rgba(16, 121, 170, 0.9),
			rgba(16, 121, 170, 1) 62.5vmin
		),
		url("../../../../public/auth/login.WebP");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;

	@include ab.screen-64 {
		background-size: cover;
		background-image: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			linear-gradient(
				to right,
				rgba(16, 121, 170, 0.1),
				rgba(16, 121, 170, 0.2),
				rgba(16, 121, 170, 0.4),
				rgba(16, 121, 170, 0.6),
				rgba(16, 121, 170, 0.8),
				rgba(16, 121, 170, 0.9),
				rgba(16, 121, 170, 1) 75%
			),
			url("../../../../public/auth/login.WebP");

		padding-block-start: 0;
	}

	&.admin {
		background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			linear-gradient(
				to bottom,
				rgba(16, 121, 170, 0.1),
				rgba(16, 121, 170, 0.2),
				rgba(16, 121, 170, 0.4),
				rgba(16, 121, 170, 0.6),
				rgba(16, 121, 170, 0.8),
				rgba(16, 121, 170, 0.9),
				rgba(16, 121, 170, 1) 62.5vmin
			),
			url("../../../../public/auth/admin.WebP");
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: fixed;

		@include ab.screen-64 {
			background-size: cover;
			background-image: linear-gradient(
					to right,
					rgba(0, 0, 0, 0.8),
					rgba(0, 0, 0, 0.4)
				),
				linear-gradient(
					to right,
					rgba(16, 121, 170, 0.1),
					rgba(16, 121, 170, 0.2),
					rgba(16, 121, 170, 0.4),
					rgba(16, 121, 170, 0.6),
					rgba(16, 121, 170, 0.8),
					rgba(16, 121, 170, 0.9),
					rgba(16, 121, 170, 1) 75%
				),
				url("../../../../public/auth/admin.WebP");

			padding-block-start: 0;
		}
	}

	.container {
		height: 85vmax;
	}

	&-form {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		position: sticky;
		top: 1em;

		background-color: ab.$white;
		border-radius: 0.75rem;

		width: min(85%, 30rem);
		margin-inline: auto;
		padding-inline: clamp(1.39rem, 4vw, 3.63rem);
		padding-block: 2rem 1rem;

		translate: 0 -10vw;

		display: grid;
		gap: 1.32rem;

		@include ab.screen-64 {
			width: 35rem;
			padding-block: 2.6rem 1rem;

			gap: 1.8rem;

			translate: 0 25%;

			margin-inline: auto 10em;
		}

		&__head {
			display: grid;
			gap: 1.32em;

			img {
				width: 60%;
			}

			h2 {
				font-size: clamp(1.4265rem, 2.2vw, 2.4rem);
			}

			@include ab.screen-64 {
				gap: 1.8rem;
			}
		}

		form {
			display: grid;
			gap: 1.32rem;

			@include ab.screen-64 {
				gap: 1.8rem;
			}

			> div {
				display: grid;
				gap: 0.3rem;

				@include ab.screen-64 {
					gap: 0.5rem;
				}

				input {
					width: 100%;
					background-color: ab.$form-input;
					padding-inline: 0.3em;
					padding-block: 0.6em;
					border: 0.1em solid ab.$blue1;
					border-radius: 0.3rem;

					font-size: clamp(1rem, 1vw, 1.1rem);

					&:disabled {
						background-color: darken(
							$color: ab.$form-input,
							$amount: 50
						);
					}
				}

				button {
					color: ab.$white;
					border: 0.1em solid ab.$blue1;
					background-color: ab.$blue1;
					padding: 0.2em 1.4em;
					border-radius: 0.5rem;

					font-size: clamp(1.1rem, 1.3vw, 1.5rem);

					cursor: pointer;
					transition: color 300ms, background-color 300ms;

					&:hover {
						color: ab.$blue1;
						background-color: ab.$white;
					}

					&:disabled {
						background-color: ab.$white;
						cursor: wait;
					}
				}
			}

			> :last-child {
				display: block;
				text-align: center;
			}
		}

		.form-links {
			display: flex;
			justify-content: space-between;
			font-size: clamp(0.8rem, 1.4vw, 1rem);
			margin-block-start: 1rem;

			a,
			button {
				text-decoration: underline transparent;
				background-color: transparent;
				border: 0;
				cursor: pointer;
				color: ab.$blue1;

				transition: text-decoration-color 300ms;
				&:hover {
					text-decoration-color: ab.$blue1;
				}
			}
		}
	}
}

.email-confirm {
	&-item {
		h2 {
			margin-block: 1em;
		}
		text-align: center;
		text-wrap: balance;

		button {
			color: ab.$white;
			border: 0.1em solid ab.$blue1;
			background-color: ab.$blue1;
			padding: 0.2em 1.4em;
			border-radius: 0.5rem;

			font-size: clamp(1.1rem, 1.3vw, 1.5rem);

			cursor: pointer;
			transition: color 300ms, background-color 300ms;

			&:hover {
				color: ab.$blue1;
				background-color: ab.$white;
			}

			&:disabled {
				background-color: ab.$white;
				cursor: wait;
			}
		}
	}
}
