@use "../../abstracts" as ab;

.gallery-container {
	padding-block: 4em;

	.container {
		width: min(95%, 110rem);
	}

	.album-container {
		display: grid;
		gap: 3em;

		@include ab.screen-40 {
			display: block;
			column-count: 2;
			column-gap: 2em;
		}
	}

	.album {
		border-radius: 0.75em;
		@include ab.screen-40 {
			margin-block-end: 2em;
		}

		&-details {
			border-radius: inherit;
			position: relative;

			cursor: pointer;

			overflow: hidden;

			img {
				transition: scale 200ms ease;
				border-radius: inherit;
			}

			&:hover {
				img {
					scale: 1.1;
				}

				&::before {
					background-color: rgba(0, 0, 0, 0.4);
				}
			}

			&::before {
				content: "";
				background-color: rgba(0, 0, 0, 0.6);
				inset: 0;
				position: absolute;
				z-index: 1;
				border-radius: 0.75em;

				transition: background-color 300ms;
			}

			img {
				width: 100%;
				border-radius: 0.75em;
				position: relative;
			}

			p {
				font-weight: 600;
				text-transform: capitalize;
				position: absolute;
				z-index: 2;
				bottom: 1em;
				padding-inline: 1rem;
				font-size: 1.25rem;
			}
		}
	}
}

.album-modal {
	button {
		background-color: transparent;
		cursor: pointer;
	}

	&__close {
		border: none;
		font-size: 3rem;
		position: fixed;
		top: 1%;
		right: 5%;

		@include ab.screen-40 {
			right: 3%;
		}

		@include ab.screen-64 {
			right: 1.5%;
		}
		transition: scale 300ms;
		&:hover {
			scale: 1.2;
		}
	}

	&__load {
		border: 0.1em solid ab.$blue2;
		font-size: 1.25rem;
		font-weight: 600;
		border-radius: 0.625rem;
		padding-inline: 1.5em;
		padding-block: 0.4em;
		color: ab.$blue2;
		margin-inline: auto;
		margin-block: 1em;
		display: block;

		transition: background-color 300ms, color 300ms;

		&:hover {
			background-color: ab.$blue2;
			color: ab.$white1;
		}

		&:disabled {
			color: grey;
		}
	}

	.album-images {
		column-count: 3;
		column-gap: 0.75em;
		margin-block: 1.75em 1em;

		@media (max-width: 1200px) {
			column-count: 3;
		}
		@media (max-width: 1000px) {
			column-count: 3;
		}
		@media (max-width: 800px) {
			column-count: 2;
		}
		@media (max-width: 640px) {
			column-count: 1;
		}

		&:hover {
			img {
				scale: 0.9;
			}
		}

		&:has(img:hover) > img:not(:hover) {
			scale: 0.9;
		}

		img {
			border-radius: 0.75em;
			margin-block: 0.75em;
			width: 100%;
			height: auto;
			cursor: pointer;

			transition: scale 300ms;

			&:hover {
				scale: 1.1;
			}
		}
	}
}
