@use "../../abstracts" as ab;

.events {
	background-color: ab.$blue3;
	margin-block: 3em 0;
	color: ab.$blue1;
	padding: 2em 1em 3em;

	&-head {
		font-weight: 700;
		font-size: clamp(1.3rem, 6vw, 1.8rem);
		position: relative;
		display: inline-block;
		margin-block: 0 1.4em;

		&::before {
			content: "";
			position: absolute;
			height: 0.1em;
			background-color: ab.$blue1;
			left: 0;
			right: 60%;
			bottom: -0.1em;
		}
	}

	&-container {
		outline: 2px solid coral;
		display: grid;
		gap: 1.5em;

		@include ab.screen-48 {
			grid-template-columns: 1fr 1fr;
		}

		@include ab.screen-75 {
			grid-template-columns: 4fr 2fr;
		}

		&__item {
			display: grid;
			gap: 1em;
			grid-template-columns: 4fr 3fr;

			&:first-child {
				img {
					object-position: 70% 0;
				}

				@include ab.screen-75 {
					grid-row: span 4;
					grid-template-columns: 1fr;

					.events-container__item-img {
						max-height: 100%;

						img {
							height: 100%;
						}
					}

					a {
						color: ab.$white;
						text-decoration-color: transparent;
						background-color: ab.$blue1;
						border: 0.15em solid ab.$blue1;

						padding: 0.5em 2em;
						font-size: 1.1rem;

						transition: text-decoration-color 200ms,
							background-color 200ms, color 200ms;

						&:hover {
							text-decoration-color: ab.$blue1;
							background-color: ab.$blue3;
							color: ab.$blue1;
						}
						svg {
							display: none;
						}
					}
				}
			}

			&:nth-child(4) {
				img {
					object-position: 75% 0;
				}
			}

			&-img {
				max-height: 17em;

				img {
					height: min(100%, 17em);
					object-fit: cover;
					width: 100%;
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				gap: 0.5em;
				color: black;

				h3 {
					font-size: clamp(1.1rem, 4vw, 1.3rem);

					@include ab.screen-48 {
						font-size: 1.1rem;
					}

					@include ab.screen-75 {
						font-size: clamp(1.1rem, 4vw, 1.3rem);
					}
				}

				p {
					&:nth-child(2) {
						color: #00000066;
						font-size: clamp(0.8rem, 2.5vw, 0.9rem);

						@include ab.screen-48 {
							font-size: 0.8rem;
						}

						@include ab.screen-75 {
							font-size: clamp(0.8rem, 2.5vw, 0.9rem);
						}
					}

					&:nth-child(3) {
						font-size: clamp(0.9rem, 3.5vw, 1.1rem);

						@include ab.screen-48 {
							font-size: 0.9rem;
						}

						@include ab.screen-75 {
							font-size: clamp(0.9rem, 3.5vw, 1.1rem);
						}
					}
				}

				a {
					font-weight: 700;
					color: ab.$red;
					display: inline-flex;
					gap: 0.4em;
					align-items: center;
				}
			}
		}
	}
}
