.blog {
    color: black;
    width: 90%;
    margin: auto;
    .bread {
        padding-top: 8em;
        padding-bottom: 1em;
        display: flex;
        gap: 1.5em;
        justify-content: center;
        p {
            display: flex;
            gap: 1em;

            a {
                color: rgb(57, 57, 254);
                text-decoration: none;
            }
        }
    }
    .heading {
        padding-bottom: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
        width: 70%;
        margin: auto;
    }
    .img {
        img {
            width: 70%;
            aspect-ratio: 2/1;
            margin: auto;
        }
    }
    .content {
        padding-block: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        p {
            font-size: 1.5em;
        }
    }
    .bread2 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2em;
        color: rgb(73, 73, 250);
        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}
