@use "../../abstracts" as ab;

.info-page__heading {
	background-color: ab.$blue4;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 20em;
	background-repeat: no-repeat;
	background-size: cover;

	@include ab.screen-48 {
		height: 30em;
	}

	@include ab.screen-96 {
		height: 35em;
	}

	&.doc {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			url("../../../../public/documents/document.jpg");
	}

	&.faculty {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			url("../../../../public/faculty/faculty.png");

		background-position: 25% 50%;
	}
}

.faculty-search {
	background-color: ab.$grey3;
	padding-block: 3em;

	&__cont {
		width: min(100%, 40rem);
		position: relative;
		margin-inline: auto;

		svg {
			color: ab.$dark1;
			position: absolute;
			font-size: 1.2rem;

			translate: -1.4em 0.7em;
		}

		input {
			width: 100%;
			font-size: 1.1rem;
			font-weight: 500;
			padding-block: 0.5em;
			padding-inline: 0.4em;
		}
	}
}

.info-page__container {
	margin-block: 3em;
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));

	&.doc {
		.doc-item {
			&__image {
				background-color: ab.$white;
				padding-block: 2em;
				border-radius: 0.8em;

				box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
					rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

				img {
					margin-inline: auto;
					width: 6em;
				}
			}

			&__title {
				color: black;
				display: inline-block;
				margin-block-start: 1.2em;

				text-decoration-color: transparent;
				font-size: 1.1rem;

				transition: text-decoration-color 200ms;

				&:hover {
					text-decoration-color: black;
				}
			}
		}
	}

	&.faculty {
		color: ab.$blue1;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(16em, 100%), 1fr));
		gap: 2em;

		@include ab.screen-48 {
			grid-template-columns: repeat(
				auto-fill,
				minmax(min(20em, 100%), 1fr)
			);
		}

		.faculty-item {
			background-color: ab.$white1;
			border-radius: 0.6em;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
				rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

			display: grid;
			grid-template-rows: subgrid;
			grid-row: span 5;
			gap: 1.5em;

			&__image {
				height: 26rem;
				overflow: hidden;

				img {
					width: 100%;
					height: 26rem;

					object-fit: cover;
					object-position: 0 0;
				}
			}

			// for each image
			&:nth-child(1) {
				img {
					object-position: 50% 20%;
				}
			}

			&:nth-child(6) {
				img {
					object-position: 50% 50%;
				}
			}

			&:nth-child(7) {
				img {
					object-position: 50% 35%;
				}
			}

			&:nth-child(8) {
				img {
					object-position: 50% 35%;
				}
			}

			&__info {
				display: grid;
				grid-template-rows: subgrid;
				grid-row: span 4;
				gap: 0.4em;
				padding: 0 1em 1em;

				h3 {
					font-size: clamp(1.15rem, 3vw, 1.35rem);
					text-transform: capitalize;
				}

				p {
					text-transform: capitalize;
					font-size: 0.8rem;
				}
			}
		}
	}
}
