@use "../../abstracts" as ab;

.main-heading {
	background-color: ab.$blue4;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 20em;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-position: center;

	@include ab.screen-48 {
		height: 30em;
	}

	@include ab.screen-96 {
		height: 35em;
	}

	&.masters {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			url("../../../../public/courses/cover.WebP");
	}

	&.phd {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			url("../../../../public/courses/cover.WebP");
	}

	&.certifications {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			url("../../../../public/courses/cover.WebP");
	}

	&.about-us {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.4)
			),
			url("../../../../public/about-us/cover.WebP");
		background-position: center 0em;
	}
}

.academics-details {
	color: ab.$text1;
	margin-block: 3em;

	&__text {
		font-size: clamp(0.9rem, 1.1vw, 1.25rem);
		margin-inline: clamp(1.36rem, 3vw, 5.23rem);
	}

	&__courses {
		.courses-heading {
			margin-inline: clamp(1.36rem, 3vw, 5.23rem);
			margin-block: 1.6em;
			position: relative;
			display: inline-block;
			color: ab.$text1;

			font-size: clamp(1.8rem, 1.9vw, 2.1875rem);

			&::before {
				position: absolute;
				content: "";
				left: 0;
				right: 60%;
				background-color: ab.$text1;
				height: 0.1em;
				bottom: -0.3em;
			}
		}
	}
}

.courses {
	&-accordion {
		padding-inline: clamp(1.36rem, 3vw, 5.23rem);
		padding-block: 0 clamp(2.26rem, 2vw, 3.96rem);

		.accordion-root {
			display: grid;
			gap: clamp(1.41rem, 2vw, 2.06rem);

			.accordion-item {
				border-bottom: 0.15rem solid ab.$accent1;
				padding-block-end: clamp(0.6rem, 1.4vw, 1.31rem);
				padding-inline: 0.81rem;

				.accordion-header {
					.accordion-trigger {
						font-weight: 500;
						text-align: left;
						font-size: clamp(1rem, 1.5vw, 1.5rem);
						padding: 0;

						width: 100%;
						color: ab.$text1;
						background-color: transparent;
						border: none;

						display: flex;
						justify-content: space-between;
						align-items: center;

						&[data-state="open"] {
							span {
								span:last-child {
									rotate: 0deg;
								}
							}
						}

						> span {
							display: flex;
							align-items: center;

							span {
								display: inline-block;
								width: 1em;
								height: 0.1em;
								background-color: ab.$text1;

								transition: rotate 300ms;

								&:first-child {
									translate: 100%;
								}

								&:last-child {
									rotate: 90deg;
								}
							}
						}
					}
				}

				.accordion-content {
					margin-block-start: 1.6rem;
					overflow: hidden;
					color: ab.$text1;

					@include ab.screen-48 {
						// padding-inline: 2em;
					}

					&__text {
						display: flex;
						flex-direction: column-reverse;
						gap: 1em;

						@include ab.screen-40 {
							flex-direction: row;
							// align-items: center;
						}

						@include ab.screen-48 {
							gap: 3em;
						}

						.content-text {
							container-type: inline-size;
							flex: 1;

							p {
								font-size: clamp(0.75rem, 3.6cqw, 1rem);
								margin-block-end: 1em;
							}

							a {
								border: 0.15em solid ab.$blue1;
								background-color: ab.$blue2;
								color: ab.$white;
								display: inline-block;
								text-decoration: none;
								padding-inline: 1.8em;
								padding-block: 0.4em;
								font-weight: 600;
								font-size: 1.2rem;

								transition: color 300ms, background-color 300ms;

								&:hover {
									color: ab.$blue2;
									background-color: ab.$white;
								}
							}
						}

						.content-image {
							flex: 1;
							height: min(100%, 10rem);

							img {
								border-radius: 0.75em;
								width: 100%;
								height: 20rem;
								object-fit: cover;
								object-position: 0 10%;
							}
						}
					}

					&[data-state="open"] {
						animation: open 300ms ease;
					}
					&[data-state="closed"] {
						animation: close 300ms ease;
					}
				}
			}
		}
	}
}

@keyframes open {
	from {
		max-height: 0;
	}
	to {
		max-height: 500px;
	}
}

@keyframes close {
	from {
		max-height: 500px;
	}
	to {
		max-height: 0;
	}
}
